.all{
  background-color:rgb(11, 11, 11);
}

.main{
  background-image:url('tree.jpg');
  height:700px;
}

.head{
  background-color:rgb(171, 120, 199);
}

.square{
  border-radius:30%;
  margin-left:25%;
  margin-right:5%;
  background-color:rgb(228, 184, 238);

}
button{
  border-radius: 50%;
  border: solid black 2px;
  height:50px;
  background-color:rgb(217,237,247);
}



}
.pic{
  border: black 5px;
}
.border{
  border:black 5px solid;
}
.title{
  color:white;
  font-size:60px;
  text-align:center;
  text-shadow: 2px 2px 2px #000;
}

.box{
  padding:3px;
  border: solid black 3px;

}
.bottom{
  border-bottom: solid black 3px;
}
#edit{
  text-align:center;
}
