.h1 {
    font-size: 56px;
}
.main {
    background-color: rgb(96, 98, 105);
    height: 800px;
}
.all {
    background-image: url('images/tree.jpg');
    background-size: cover;
    font-family: Calibri;
}
.head {
    background-color: rgb(171, 120, 199);
}
.square {
    border-radius: 30%;
    margin-left: 25%;
    margin-right: 5%;
    background-color: rgb(228, 184, 238);
}
.square2 {
    border-radius: 10%;
    margin: 15px;
    background-color: rgb(15, 14, 15);
    border: 2px solid rgb(59, 51, 66)
}
.square3 {
    border-radius: 10%;
    margin: 15px;
    background-color: rgb(15, 14, 15);
    border: 2px solid rgb(59, 51, 66)
}
button {
    border-radius: 50%;
    border: solid black 2px;
    height: 50px;
    background-color: rgb(217, 237, 247);
}
.backgroundpic {
    background-image: url('images/smaller.png');
    background-size: cover;
    opacity: 3.75;
}
.three {
    background-color: white;
}
.align {
    text-align: center;
}
.pic {
    border: black 5px;
}
.border {
    border: black 5px solid;
}
.title {
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
.box {
    padding: 3px;
    border: solid black 3px;
}

#edit {
    text-align: center;
}
.screen {
    /*background-color: rgb(231, 227, 232);*/
    background-image: url('images/branches_purple.jpg');
    background-size: cover;
}
.convert {
    background-image: url('images/house.jpg');
    background-size: cover;
    opacity: 1.2;
}
.lower {
  /*color: white;*/

  display: none;
  font-size:20px;
  text-align:center;
}
.upper {
  /*color: white;*/

  display: none;
  font-size:20px;
  text-align:center;

}

.disapear {
    color: white;
    text-shadow: 1px 1px 1px #000;
    margin-top: 150px;
    text-align: center;
}
.text {
    background-color: rgb(235, 221, 246)
}
footer {
    position: absolute;
    background-color: rgb(208, 204, 194);
    width: 100%;
    height: 60px;
}
.footer {
    float: left;
    margin-left: 30%;
}

#result2{
  margin-top:65px;
  font-size:20px;
  font-family:monospace;
  font-weight: bold;
  background-color:white;
}
#result1{
  margin-top:65px;
  font-size:20px;
  font-family:monospace;
  font-weight: bold;
  background-color:white;
}

.startOver{
  text-align:center;
  margin-left:45%;
  margin-top:10%;
}
.startOver1{
  text-align:center;
  margin-left:45%;
  margin-top:10%;
}
